body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container {
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 30px;
}

.hideBtn {
    visibility: hidden;
}

.slide {
    display: none;
}

.active {
    display: block;
}