body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cera Pro';
    margin: 0;
    padding: 0;
}

.forms-container {
    display: flex;
    gap: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

select {
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
}