.page-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-controls {
    margin-top: 15px;
    display: flex;
    gap: 20px;
}