@import "~bootstrap/scss/bootstrap";

#product-cards-container {
    grid-template-columns: 1fr 1fr 1fr;
}

#product-card {
    &:hover {
        cursor: pointer;
        #product-image {
            transition: all 0.2s linear;
            transform: scale(1.1);
        }
    }
}